<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-header">
    <a class="btn navbar-btn navbar-toggle" ng-click="isCollapsed = !isCollapsed">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>
  </div>
  <div class="navbar-collapse collapse" uib-collapse="isCollapsed">
    <div class="pull-right navbar-logo">
      <ul class="nav navbar-nav pull-right">
        <li>
          <ul class="pexUserProfileCmp">
            <li>Roberto Mabini</li>
            <li>SA, BPS-Corporate</li>
          </ul>
        </li>
        <li>
          <ul class="pexUserProfileCmpImg">
            <li>
              <img src="images/dropdown-arrow-white.svg"/>
            </li>
            <li>
              <img class="pexUserPofileImage" src="https://avatars0.githubusercontent.com/u/5030185?" />
            </li>
          </ul> 
        </li>
      </ul>
    </div>
  </div>
</nav>